
{% extends 'base.html'%}

{% block head %}

<a class="nav-item"href="{% url 'DB'%}"><button   class="btn"> Back </button></a>
     <table> 
    <tr>
        <td>id: 43</td>
    </tr>

    <tr>
        <td>name: Book 3</td>
    </tr>

    <tr>
        <td rowspan=2>Description: Thie is a very interesting and exciting book</td>
    </tr>
    <tr></tr>
    <tr>
        <td>Date: 25-02-2026</td>
    </tr>
     </table>    
     <button  >Edit</button>
     <button onclick="OnDeleate()">Deleate</button>

{% endblock %}
