<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProDash | Login</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="login-container">
        <div class="card login-card">
            <h1>Welcome Back</h1>
            <p>Enter your credentials to access your account</p>

            <form >
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" placeholder="name@company.com" required>
                </div>

                <div class="form-group">
                    <div style="display: flex; justify-content: space-between;">
                        <label for="password">Password</label>
                        <a href="#" style="font-size: 0.8rem;">Forgot?</a>
                    </div>
                    <input type="password" id="password" name="password" placeholder="••••••••" required>
                </div>

                <button   type="submit" style="margin-left:1%;" class="btn">Sign In</button>
            </form>

            <div class="login-footer">
                <span>Don't have an account?</span>
                <a href="#">Create an account</a>
            </div>
        </div>
    </div>

</body>
</html>
